.img-404 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-color: black;
}

.img-404 img {
	max-height: 100dvh;
	max-width: 100dvw;
	object-fit: cover;
}
