.img-404 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #18181880;
	height: 100vh;
}

.img-404 img {
	height: 80%;
	width: 80%;
	object-fit: cover;
	margin-top: 30px;
	border: solid 5px rgba(218, 165, 32, 0.678);
}
