.quest-error {
	margin-top: 16px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	text-transform: uppercase;
	line-height: 48px;
	color: #fff;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
}

.picture-discover {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	h2 {
		padding-top: 16px;
		text-align: center;
		color: #fff;
	}

	.img-container {
		height: 476px;
		width: 320px;
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(28, 1fr);
		animation: magic-glow-secret 2s infinite alternate;

		.secret-img {
			height: 100%;
			width: 100%;
			grid-area: 1 / 1 / 29 / 21;
			object-fit: cover;
		}

		.revealed-group {
			display: none;
		}

		@media screen and (width <= 500px) {
			width: 100%;
		}
	}

	@media screen and (width <= 500px) {
		width: 90%;
	}
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

@keyframes magic-glow-secret {
	0% {
		box-shadow: 0px 0px 5px #fff;
	}
	50% {
		box-shadow: 0px 0px 15px #fff;
	}
	100% {
		box-shadow: 0px 0px 5px #fff;
	}
}

@keyframes magic-glow-secret {
	0% {
		box-shadow: 0px 0px 5px #fff;
	}
	50% {
		box-shadow: 0px 0px 15px #fff;
	}
	100% {
		box-shadow: 0px 0px 5px #fff;
	}
}
