.home-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-section h1 {
	margin: 20px;
	padding: 20px;
	color: white;
}

.home-section p {
	font-size: 1.3rem;
	width: 600px;
	padding: 20px 35px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.404);
	color: white;
}

.home-btn {
	margin-top: 40%;
	padding: 20px 40px;
	font-size: 20px;
	border-radius: 16px;
	background-color: #181818;
	color: white;
	cursor: pointer;
	border-style: none;
}

.oeuf {
	display: flex;
	position: absolute;
	width: 32px;
	right: 84%;
	bottom: 65%;
}
